.Home {
  width: 80%;
  margin: auto;
  margin-top: 50px;
}

p {
  margin: 0px !important;
}

.name {
  margin: 0px;
}

.input-group.w-auto {
  width: 100% !important;
}

.btn.btn-primary {
  padding: 10px 20px;
}

.d-flex.justify-content-center {
  margin: 20px 0px;
}

.outer-stock-div {
  padding: 5px !important;
  height: auto !important;
}

.container {
  margin: 10px 0px;
}

.stock {
  background-color: aquamarine;
  border-radius: 5px;
  padding: 5px;
}

.spinner {
  margin-left: 10px;
}

.spinner-div {
  text-align: center;
  margin: 20px 0px;
}

table {
  width: 100%;
}

th,
td {
  padding: 10px; /* Adds space inside each cell */
  text-align: left;
}

tr {
  border-bottom: 1px solid #ddd !important;
}
